const dbconfiguration = {
    server: '104.41.40.140',  //update me
    authentication: {
        type: 'default',
        options: {
            userName: 'sa1033', //update me
            password: '05062021'  //update me
        }
    },
    options: {
        // If you are on Microsoft Azure, you need encryption:
        encrypt: true,
        database: 'db_Ecommerce_sa10'  //update me
    }
};
module.exports = dbconfiguration;